html{
  height:97VH;
  flex-direction: column;
  text-align: center;
  background-color: skyblue;
}
form,html{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{background-color: #FFF9}

h1,button,input:focus{background-color: white;
  outline:none
}
h3{color:white;}

button,input{
  height:2rem;
  font-weight: bold;
}

h1,input,input::placeholder,button{
  color: skyblue;
  box-shadow:0 0 0.5rem white;
}
h1,input,button{
  border-radius:0.4rem;
  border: none;
}
input{
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}